header {
    position: fixed;
    width: 16%;
    height: 100%;
    transition: width 0.3s ease;
}

/* Imagens */
header nav figure {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header nav figure div img#logo__hc {
    width: 100%;
    cursor: pointer;
}

header nav figure img#logo__menu {
    width: 30%;
    cursor: pointer;
}


header nav ul li a img {
    margin-left: 1.5rem;
    width: 40px;
}

/* Linha para separar */
header nav ul li .line {
    width: 100%;
    margin-top: .6rem;
    margin-left: .5rem;
    margin-bottom: .8rem;
    border: solid 1px var( --border-line);
}

/* Links */
header nav ul li {
    display: flex;
}

header nav ul li a {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    color: var(--color-text-menu);
    font-size: 1.1rem;
    white-space: nowrap;
}

header nav ul li a#active {
    color: var(--color-active);
}