main {
    width: 81%;
    height: 95vh;
    margin: 1.5rem 3rem 0 18%;
    background-color: var(--background-white);
    border-radius: 40px;
    padding: 2rem;
    transition: margin-left 0.3s ease;
}

main section#titles h1 {
    color: var(--color-blue);
    font-size: 32px;
    padding: 1rem 0;
    border-bottom: 1px solid var(--border-line);
}

main section#titles h2 {
    padding: 1rem 0;
    font-size: 24px;
    font-weight: 600;
}