@import url(../../global/global.css);
@import url(../style.css);

.container {
  display: flex;
  justify-content:center;/* Centraliza horizontalmente */
  align-items: center;/* Centraliza verticalmente */
  height: 50vh; /* Altura de 100% da viewport */
  width: 50vw; /* Largura de 100% da viewport */
}
.rectangle {
  width: 929px;
  height: 234px;
  padding: 1rem;
  border: solid 2px var(--color-black);
  border-radius: 15px;
}