body#perguntas__frequentes main section#titles {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: solid 1px var(--border-line);
  }
  
  body#perguntas__frequentes main section#titles h1 {
      border: none;
      width: 100%;
  }
  
  body#perguntas__frequentes main section#titles ul a li {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;
      padding: .3rem;
  }
  
  body#perguntas__frequentes main section#titles ul a li:hover {
      background-color: var(--color-black-04);
      border-radius: 5px;
  }
  
  body#perguntas__frequentes main section#titles ul a li span {
      color: var(--color-black);
      padding-right: .5rem;
      font-size: 20px;
  }
  
  body#perguntas__frequentes main section#titles ul a li span img {
      margin-top: .3rem;
      width: 25px;
  }

  /* section chat bot */
  body#perguntas__frequentes section#chat__bot{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
   }
    body#perguntas__frequentes .container {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 20vw;
    width: 50vw; 
  }
   body#perguntas__frequentes .rectangle {
    position: center;
    width: 929px;
    height: 234px;
    padding: 1rem;
    border: solid 2px var(--color-black);
    border-radius: 15px;
  }
    body#perguntas__frequentes div#line{
    margin: 1rem 0;
    width: 100;
    border: solid 1px; 
  }

  /* Section PDF */

  body#perguntas__frequentes section#pdf {
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    margin-top: 1rem;
  }

body#perguntas__frequentes section#pdf div#container__pdf {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

body#perguntas__frequentes main section#pdf div#container__pdf div.block_pdf {
  border: solid var(--pdf-color) 3px;
  border-radius: 15px;
  width: 25%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 30px;
}

body#perguntas__frequentes main section#pdf div#container__pdf div.block_pdf p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.2rem;
}

body#perguntas__frequentes main section#pdf div#container__pdf div.block_pdf img {
  margin-top: 1rem;
}
